.home {
  background-color: #19191a;
  position: relative;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  object-fit: cover;
  z-index: -1;
}

.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  margin-top: 150px;
}

h1 {
  color: #ffffff;
  font-size: 2rem;
  margin-top: 2rem;
}
h2 {
  
  color: #ffffff;
  font-size: 1rem;
  margin-top: 1rem;
}
.h2-button {
  display: inline-block;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.5); 
  
  border: 1px solid black;
  height: 50px;
  width: 150px; /* Ensures the width of the box fits the content */
  color: white; /* Sets the text color to white for better contrast */
}


.h2-button:hover {
  /* Add hover effect styles */
  color: #4c00ff;
}



body {
  background: #19191ae7;
}